<div class= "background-image">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <h3>Welcome to the personal site of</h3>
        <h1>Mark Gould</h1>
        <h5>Junior Full Stack Web Developer</h5>
        <%= link_to "Enter!", pages_index_path, class: "btn btn-ghost" %>
      </div>
    </div>

  </div>
</div>
