<%= render 'layouts/navbar' %>
<h1>Welcome</h1>
<p>I am proud to have worked on different projects since starting my journey as a junior full stack web developer in January 2019. Here are some that I would like to share with you.</p>
